<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section type="Franksoft.SqlManager.ModelRegistrationSection,SqlManager" name="ModelRegistrations"/>
	</configSections>
	<appSettings>
		<add key="SqlManager.ModelDirectory" value="models"/>
	</appSettings>
  <connectionStrings>
    <add name="test" connectionString="Provider=OraOLEDB.Oracle.1;Password=P15#dfgfQ;Persist Security Info=True;User ID=SFC;Data Source=D_SFC_BRZ;"/>
  </connectionStrings>
	<!--<ModelRegistrations>
		<pathes>
			<add path="models\01.xml"/>
			<add path="models\02.xml"/>
			<add path="models\03.xml"/>
		</pathes>
	</ModelRegistrations>-->
</configuration>
