<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section type="Franksoft.SqlManager.ModelFileSection,SqlManager" name="Models"/>
    <section type="Franksoft.SqlManager.ModelFileSection,SqlManager" name="StandaloneQueries"/>
  </configSections>
  <appSettings>
    <add key="SqlManager.ModelDirectory" value="models"/>
  </appSettings>
  <!--<Models>
    <pathes>
      <path path="models\01.xml"/>
      <path path="models\02.xml"/>
      <path path="models\03.xml"/>
    </pathes>
  </Models>
  <StandaloneQueries>
    <pathes>
      <path path="models\04.xml"/>
      <path path="models\05.xml"/>
    </pathes>
  </StandaloneQueries>-->
</configuration>
