<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section type="Franksoft.SqlManager.Mock.MockRegistrationSection,SqlManager" name="MockRegistrationSection"/>
  </configSections>
  <appSettings>
    <add key="SqlManager.MockDirectory" value="mocks"/>
  </appSettings>
  <MockRegistrationSection>
    <pathes>
      <add path="models\01.xml"/>
      <add path="models\02.xml"/>
      <add path="models\03.xml"/>
    </pathes>
  </MockRegistrationSection>
</configuration>
