<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section type="Franksoft.SqlManager.Mock.MockRegistrationSection,SqlManager.Mock" name="MockRegistrationSection"/>
  </configSections>
  <appSettings>
    <add key="SqlManager.MockDirectory" value="mocks"/>
  </appSettings>
  <MockRegistrations>
    <pathes>
      <add path="mocks\01.xml"/>
      <add path="mocks\02.xml"/>
      <add path="mocks\03.xml"/>
    </pathes>
  </MockRegistrations>
</configuration>
